.search{
	margin-top: 150px;
	margin-bottom: 50px;
}

.footer {
    bottom: 0;
    font-size: 10pt;
    height: 35px;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-radius: 4px;
    position: absolute;
    width: 100%;
}

.search-footer{
	position: relative;
	visibility: visible;
	height: auto;
}

